.app-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 다운로드 앱스토어 구글플레이 */
.app-download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
}

.app-download {
    text-align: center;
}

.app-download-app {
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    border: 0px;
    border-radius: 15px;
    padding: 25px 70px;
    background: linear-gradient(135deg, rgb(253, 201, 84) 14.64%, rgb(251, 153, 42) 85.36%);
}

.app-download-app > img {
    width: 50px;
    height: 50px;
}