<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div>
<form id="myForm">
    <table>
        <tr>
            <th>제목</th>
            <td><input type="text" id="title" name="title" placeholder="제목을 입력하세요."></td>
        </tr>
        <tr>
            <th>내용</th>
            <td colspan="3"><textarea id="content" name="content"></textarea></td>
        </tr>
        <tr>
            <td><input type="reset" value="초기화" /></td>
            <td><input type="button" value="저장" onclick="submitForm()" /></td>
        </tr>
    </table>
</form>
</div>
<div>
    <h2>Your Board List : <button onclick="selectAll()">조회</button></h2>
    <ul id="boardList">
        <!-- innerHtml-->
    </ul>
</div>
<div>
    <h2>Your Board List Detail</h2>
    <ul id="boardListDetail">
        <!-- innerHtml-->
    </ul>
    <ul id="replyList" style="margin-left: 30px">
        <!-- innerHtml-->
    </ul>
    <h4>Reply</h4>
    <input type="text" id="saveReply" placeholder="Reply" /> <button onclick="saveReply()">저장</button>
</div>

<script>
function selectAll() {

    fetch('/cashflow/selectCashflowBoardList')
        .then(response => response.json())
        .then(data => {
            // 데이터를 받아와서 처리
            displayBoardList(data);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

function displayBoardList(data) {

    const boardListElement = document.getElementById('boardList');
    boardListElement.innerHTML = '';

    data.forEach(board => {
        const listItem = document.createElement('li');
        listItem.innerHTML = `<span>${board.id}</span> - <span>${board.title}</span> - <span>${board.content}</span> - <button type="button" onclick="deleteBoard('${board.id}')">삭제</button> - <button onclick="listDetail('${board.id}')">상세내역</button>`;
        boardListElement.appendChild(listItem);
    });
}

function listDetail(param) {
    let Data = {
        id : param
    }

    // JSON 데이터를 서버에 전송
    fetch('/cashflow/selectCashflowBoardDetail', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(Data)
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // 서버 응답에 대한 처리
            displayBoardListDetail(data);
            console.log(data);
        })
        .catch(error => {
            // 오류 처리
            console.error('There was a problem with the fetch operation:', error);
        });
}

function displayBoardListDetail(data) {

    const boardListElementDetail = document.getElementById('boardListDetail');
    boardListElementDetail.innerHTML = '';

    [data].forEach(board => {
        let listItemDetail = document.createElement('li');
        listItemDetail.innerHTML = `<span id="listDetail">${board.id}</span> - <span>${board.title}</span> - <span>${board.content}</span> - <span>${board.createdBy}</span> - <span>${board.createdDate}</span> - <span>${board.lastModifiedBy}</span> - <span>${board.lastModifiedDate}</span>`;
        boardListElementDetail.appendChild(listItemDetail);
    });
}

function saveReply() {
    // form 데이터를 수집하여 JSON으로 변환
    let saveReplyData = {
        id : document.getElementById('listDetail').textContent,
        content: document.getElementById('saveReply').value
    };

    // JSON 데이터를 서버에 전송
    fetch('/cashflow/insertCashflowBoardReply', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(saveReplyData)
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // 서버 응답에 대한 처리
            console.log(data);
        })
        .catch(error => {
            // 오류 처리
            console.error('There was a problem with the fetch operation:', error);
        });
}



function deleteBoard(param) {

    let Data = {
        id : param
    }

    // JSON 데이터를 서버에 전송
    fetch('/cashflow/deleteCashflowBoard', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(Data)
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // 서버 응답에 대한 처리
            console.log(data);
        })
        .catch(error => {
            // 오류 처리
            console.error('There was a problem with the fetch operation:', error);
        });
}

function submitForm() {
    // form 데이터를 수집하여 JSON으로 변환
    let formData = {
        title: document.getElementById('title').value,
        content: document.getElementById('content').value
    };

    // JSON 데이터를 서버에 전송
    fetch('/cashflow/insertCashflowBoard', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // 서버 응답에 대한 처리
            console.log(data);
        })
        .catch(error => {
            // 오류 처리
            console.error('There was a problem with the fetch operation:', error);
        });
}
</script>

</body>
</html>