img {
    width: 30px;
    height: 30px;
}

h1 {
    text-decoration: none;
    color: white;
}

h3 {
    text-decoration: none;
    color: white;
}

.nav-container {
    position: relative;
    align-items: center;
    width: 100vw;
    background: #2C2C2CFF;
}

.nav-containers {
    display: flex;
    justify-content: space-between;
}

.nav-routers {
    display: flex;
    justify-content: space-around;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.nav-content > button {
    border-radius: 15px;
    padding: 5px;
    background: #2C2C2CFF;
    border: 0px;
}

.search-input {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: 0px solid #313131;
    border-radius: 15px;
    background: #313131;
}

.nav-right-button > button {
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
    border: 0px;
    border-radius: 15px;
    padding: 15px 10px;
    background: linear-gradient(135deg, rgb(253, 201, 84) 14.64%, rgb(251, 153, 42) 85.36%);
}

