<header th:fragment="headerfragment">
    <div class="flex-between title text-center margin30">
        <div class="flex-around width20">
            <div><a th:href="@{/main}"><img th:src="@{/image/default.png}"></a></div>
            <div>CASHEWNUT</div>
        </div>
        <div class="flex-around width60">
            <div><a class="anchor-hover" th:href="@{/index}">인덱스</a></div>
            <div><a class="anchor-hover" th:href="@{/dividend}">배당</a></div>
            <div><a class="anchor-hover" th:href="@{/etf}">ETF</a></div>
            <div><a class="anchor-hover" th:href="@{/pension}">연금</a></div>
            <div><a class="anchor-hover" th:href="@{/cashflow}">현금흐름</a></div>
        </div>
        <div class="flex-around width20">
            <div><button class="button-small"><a class="anchor" th:href="@{/login}">로그인</a></button></div>
            <div><button class="button-small"><a class="anchor" th:href="@{/app}">앱다운로드</a></button></div>
        </div>
    </div>
</header>