<header th:fragment="headerfragment">
    <div class="flex-between title text-center margin30">
        <div class="flex-around width20">
            <div><a th:href="@{/home}"><img th:src="@{/image/default.png}"></a></div>
            <div>CASHEWNUT</div>
        </div>
        <div class="flex-around width60">
            <div><a class="anchor-hover" th:href="@{/domestic}">Domestic</a></div>
            <div><a class="anchor-hover" th:href="@{/index}">Index</a></div>
            <div><a class="anchor-hover" th:href="@{/dividend}">Dividen</a></div>
            <div><a class="anchor-hover" th:href="@{/etf}">ETF</a></div>
            <div><a class="anchor-hover" th:href="@{/pension}">Pension</a></div>
            <div><a class="anchor-hover" th:href="@{/cashflow}">Cashflow</a></div>
        </div>
        <div class="flex-around width20">

                <div><button class="button-small"><a class="anchor" th:href="@{/login}">Login</a></button></div>
                <div><button class="button-small"><a class="anchor" th:href="@{/app}">App</a></button></div>
        </div>
    </div>
</header>