<head th:fragment="headfragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashewnut</title>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/common.js}" type="text/javascript" defer></script>
</head>