<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/prefix/head :: headfragment"></head>
<body>
<div th:replace="/prefix/header :: headerfragment"></div>
<div th:class="flex-center">
    <div th:class="container">
        <div th:class="'flex-width-around align-center'">
            <div th:class="'flex align-center'">
                <div th:class="margin-rigth10">
                    <img th:src="@{/image/default.png}">
                </div>
                <div>
                    <div>기업정보</div>
                    <div>좀목코드 & 종목명</div>
                </div>
            </div>
            <div>
                <div th:class="search_container">
                    <input th:class="search_box" th:type="text" id="stockId" name="stockId"/>
                    <button th:class="search_Btn" th:type="button" onclick="stockSearch()">검색</button>
                </div>
            </div>
        </div>
        <div th:class="flex-width-around">
            <div th:class="flex-direction">
                <div th:class="margin10">
                    <div th:class="h3">거래대금 상위랭크 30</div>
                    <div id="transactionAmount_Table"></div>
                </div>
                <div th:class="margin10">
                    <div th:class="h3">가치투자</div>
                    <div id="dometisStockValue_Table"></div>
                </div>
            </div>
            <div th:class="flex-width-around">
                <div th:class="margin10">
                    <div>
                        <div th:class="flex-between">
                            <div>
                                <div th:class="h3">차트</div>
                            </div>
                            <div th:class="flex">
                                <div>
                                    <button th:class="dwmBtn" onclick="stockChartDayInq()">일봉</button>
                                </div>
                                <div>
                                    <button th:class="dwmBtn" onclick="stockChartWeekInq()">주봉</button>
                                </div>
                                <div>
                                    <button th:class="dwmBtn" onclick="stockChartMonthInq()">월봉</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <canvas th:id="stock_chart" th:style="'width:500px;height:400px;'"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div th:class="flex-width-around">
                <div th:class="margin10">
                    <div th:class="h3">가격추세</div>
                    <div id="dometisStockPrice_Table"></div>
                </div>
            </div>
            <div th:class="flex-width-around">
                <div th:class="margin10">
                    <div th:class="h3">상품정보</div>
                    <div id="commoditySearch_Table"></div>
                </div>
            </div>
            <div th:class="flex-width-around">
                <div th:class="margin10">
                    <div th:class="h3">시간별 외국인·기관 순매수</div>
                    <div id="investorTrendEstimate_Table"></div>
                </div>
                <div th:class="margin10">
                    <div th:class="h3">일자별 개인·외국인·기관 순매수</div>
                    <div id="investorSearch_Table"></div>
                </div>
            </div>
            <div th:class="flex-width-around">
                <div th:class="margin10">
                    <div th:class="h3">시간별 프로그램 매매동향</div>
                    <div id="programTradeEstimate_Table"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/prefix/footer :: footerfragment"></div>
</body>
</html>
<script>
    let dometisStockPrice_Table;
    let dometisStockValue_Table;
    let transactionAmount_Table;
    let commoditySearch_Table;
    let investorTrendEstimate_Table;
    let programTradeEstimate_Table;

    let stockId;

    function init() {
        dometisStockPrice_Table = new Tabulator("#dometisStockPrice_Table", {
            width: "400px",
            height: "50px",
            layout: "fitDataFill",
            resizableColumnFit: true,
            columns: [
                {title: "시장구분", field: "rprs_mrkt_kor_name", resizable: true},
                {title: "종목코드", field: "stck_shrn_iscd", resizable: true},
                {title: "업종", field: "bstp_kor_isnm", resizable: true},
                {
                    title: "거래량",
                    field: "acml_vol",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "현재가",
                    field: "stck_prpr",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {title: "전일대비", field: "prdy_ctrt", formatter: "money", resizable: true},
                {
                    title: "누적거래대금",
                    field: "acml_tr_pbmn",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {title: "전일대비 거래량비율", field: "prdy_vrss_vol_rate", resizable: true},
                {
                    title: "외국인순매수수량",
                    field: "frgn_ntby_qty",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "프로그램매매 순매수수량",
                    field: "pgtr_ntby_qty",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "52주일최고가",
                    field: "w52_hgpr",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "52주일최저가",
                    field: "w52_lwpr",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {title: "52주 최고가대비 현재가비율", field: "w52_hgpr_vrss_prpr_ctrt", resizable: true},
                {title: "52주 최저가대비 현재가비율", field: "w52_lwpr_vrss_prpr_ctrt", resizable: true}
            ],
        });

        dometisStockValue_Table = new Tabulator("#dometisStockValue_Table", {
            width: "400px",
            height: "50px",
            layout: "fitDataTable",
            resizableColumnFit: true,
            columns: [
                {title: "현재가", field: "stck_prpr", resizable: true},
                {title: "가중평균 주식가격", field: "wghn_avrg_stck_prc", resizable: true},
                {title: "액면가", field: "stck_fcam", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "상장 주식수", field: "lstn_stcn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "시가총액", field: "hts_avls", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "PER", field: "per", resizable: true},
                {title: "PBR", field: "pbr", resizable: true},
                {title: "EPS", field: "eps", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "BPS", field: "bps", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "위험지표", field: "mrkt_warn_cls_code", resizable: true},
                {title: "신용잔고 비율", field: "whol_loan_rmnd_rate", resizable: true},
                {title: "공매도 수량", field: "last_ssts_cntg_qty", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "공매도여부", field: "ssts_yn", resizable: true}
            ],
        });

        transactionAmount_Table = new Tabulator("#transactionAmount_Table", {
            width: "400px",
            height: "300px",
            layout: "fitDataTable",
            resizableColumnFit: true,
            columns: [
                {title: "순위", field: "data_rank", resizable: true},
                {title: "종목명", field: "hts_kor_isnm", resizable: true},
                {title: "현재가", field: "stck_prpr", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전일 대비", field: "prdy_vrss", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전일 대비율", field: "prdy_ctrt", resizable: true},
                {title: "추세", field: "prdy_vrss_sign", resizable: true},
                {title: "거래량", field: "acml_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "거래량 증가율", field: "vol_inrt", resizable: true},
                {title: "거래량 회전율", field: "vol_tnrt", resizable: true},
                {title: "거래대금", field: "acml_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "거래대금 회전율", field: "tr_pbmn_tnrt", resizable: true}
            ],
        });

        commoditySearch_Table = new Tabulator("#commoditySearch_Table", {
            width: "400px",
            height: "50px",
            layout: "fitDataTable",
            resizableColumnFit: true,
            columns: [
                {title: "상품번호", field: "pdno", resizable: true},
                {title: "상품유형코드", field: "prdt_type_cd", resizable: true},
                {title: "상품명", field: "prdt_name", resizable: true},
                {title: "상품 영문명", field: "prdt_eng_name", resizable: true},
                {title: "상품위험 등급", field: "prdt_risk_grad_cd", resizable: true},
                {title: "상품판매 상태", field: "prdt_sale_stat_cd", resizable: true},
                {title: "상품분류 유형", field: "prdt_clsf_cd", resizable: true},
                {title: "상품 분류명", field: "prdt_clsf_name", resizable: true},
                {title: "랩어카운트 자산유형 분류", field: "wrap_asst_type_cd", resizable: true},
                {title: "투자상품 유형", field: "ivst_prdt_type_cd", resizable: true},
                {title: "투자상품유형명", field: "ivst_prdt_type_cd_name", resizable: true},
                {title: "최초등록 일자", field: "frst_erlm_dt", resizable: true},
                {title: "판매시작 일자", field: "sale_strt_dt", resizable: true},
                {title: "판매종료 일자", field: "sale_end_dt", resizable: true}
            ],
        });

        investorTrendEstimate_Table = new Tabulator("#investorTrendEstimate_Table", {
            width: "400px",
            height: "150px",
            layout: "fitDataTable",
            resizableColumnFit: true,
            columns: [
                {title: "시간", field: "bsop_hour_gb", resizable: true},
                {
                    title: "외국인수량(가집계)",
                    field: "frgn_fake_ntby_qty",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "기관수량(가집계)",
                    field: "orgn_fake_ntby_qty",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                },
                {
                    title: "합산수량(가집계)",
                    field: "sum_fake_ntby_qty",
                    formatter: "money",
                    formatterParams: {thousand: ",", precision: "0"},
                    resizable: true
                }
            ],
        });

        investorSearch_Table = new Tabulator("#investorSearch_Table", {
            width: "400px",
            height: "150px",
            layout: "fitDataTable",
            resizableColumnFit: true,
            columns: [
                {title: "영업일자", field: "stck_bsop_date", resizable: true},
                {title: "현재가", field: "stck_clpr", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전일대비", field: "prdy_vrss", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "추세", field: "prdy_vrss_sign", resizable: true},
                {title: "개인 순매수", field: "prsn_ntby_qty", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "외국인 순매수량", field: "frgn_ntby_qty", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "기관계 순매수량", field: "orgn_ntby_qty", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "개인 순매수 거래대금", field: "prsn_ntby_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "외국인 순매수 거래대금", field: "frgn_ntby_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "기관계 순매수 거래대금", field: "orgn_ntby_tr_pbmn", fformatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true}
            ],
        });

        programTradeEstimate_Table = new Tabulator("#programTradeEstimate_Table", {
            width: "400px",
            height: "300px",
            layout: "fitDataTable",
            columns: [
                {title: "프로그램매매 체결시간(HH:mm:ss)", field: "bsop_hour", resizable: true},
                {title: "현재가", field: "stck_prpr", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전일 대비", field: "prdy_vrss", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "추세", field: "prdy_vrss_sign", resizable: true},
                {title: "전일 대비율", field: "prdy_ctrt", resizable: true},
                {title: "누적거래량", field: "acml_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 순매수 수량", field: "whol_smtn_ntby_qty", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 매수 거래량", field: "whol_smtn_shnu_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 매도 거래량", field: "whol_smtn_seln_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 순매수 거래량 증감", field: "whol_ntby_vol_icdc", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 순매수 거래대금", field: "whol_smtn_ntby_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 매수 거래대금", field: "whol_smtn_shnu_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                {title: "전체 매도 거래대금", field: "whol_smtn_seln_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
                //{ title: "전체 순매수 거래 대금 증감", field: "whol_ntby_tr_pbmn_icdc", formatter: "money", resizable: true }
            ],
        });
    }

    function dometisStockPriceInq(param) {

        if(param == 'stockId') {
            stockId = document.getElementById("stockId").value;
        }
        var JSONparam = {
            stockId : stockId
        };
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);
            // 컬럼에 맞게 데이터 추출
            let rowPriceData = {
                rprs_mrkt_kor_name: JSONData.output.rprs_mrkt_kor_name,
                stck_shrn_iscd: JSONData.output.stck_shrn_iscd,
                bstp_kor_isnm: JSONData.output.bstp_kor_isnm,
                acml_vol: JSONData.output.acml_vol,
                stck_prpr: JSONData.output.stck_prpr,
                prdy_ctrt: JSONData.output.prdy_ctrt,
                acml_tr_pbmn: JSONData.output.acml_tr_pbmn,
                prdy_vrss_vol_rate: JSONData.output.prdy_vrss_vol_rate,
                frgn_ntby_qty: JSONData.output.frgn_ntby_qty,
                pgtr_ntby_qty: JSONData.output.pgtr_ntby_qty,
                w52_hgpr: JSONData.output.w52_hgpr,
                w52_lwpr: JSONData.output.w52_lwpr,
                w52_hgpr_vrss_prpr_ctrt: JSONData.output.w52_hgpr_vrss_prpr_ctrt,
                w52_lwpr_vrss_prpr_ctrt: JSONData.output.w52_lwpr_vrss_prpr_ctrt
            };
            dometisStockPrice_Table.setData([rowPriceData]);
            let rowValueData = {
                stck_prpr: JSONData.output.stck_prpr,
                wghn_avrg_stck_prc: JSONData.output.wghn_avrg_stck_prc,
                stck_fcam: JSONData.output.stck_fcam,
                lstn_stcn: JSONData.output.lstn_stcn,
                hts_avls: JSONData.output.hts_avls,
                per: JSONData.output.per,
                pbr: JSONData.output.pbr,
                eps: JSONData.output.eps,
                bps: JSONData.output.bps,
                mrkt_warn_cls_code: mrktWarnClsCode(JSONData.output.mrkt_warn_cls_code),
                whol_loan_rmnd_rate: JSONData.output.whol_loan_rmnd_rate,
                last_ssts_cntg_qty: JSONData.output.last_ssts_cntg_qty,
                ssts_yn: sstsYn(JSONData.output.ssts_yn)
            }
            dometisStockValue_Table.setData([rowValueData]);
        };
        RequestUrl('/api/domestic_stock_price', 'POST', JSONparam, callback);
    }

    function transactionAmountInq() {
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let resultArray = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                let rowData = {
                    data_rank: rowJSONData.data_rank,
                    hts_kor_isnm: rowJSONData.hts_kor_isnm,
                    stck_prpr: rowJSONData.stck_prpr,
                    prdy_vrss: rowJSONData.prdy_vrss,
                    prdy_ctrt: rowJSONData.prdy_ctrt,
                    prdy_vrss_sign: prdyVrssSign(rowJSONData.prdy_vrss_sign),
                    acml_vol: rowJSONData.acml_vol,
                    vol_inrt: rowJSONData.vol_inrt,
                    vol_tnrt: rowJSONData.vol_tnrt,
                    acml_tr_pbmn: rowJSONData.acml_tr_pbmn,
                    tr_pbmn_tnrt: rowJSONData.tr_pbmn_tnrt
                };
                resultArray.push(rowData);
            }
            transactionAmount_Table.setData(resultArray);
        };
        RequestUrl('/api/transaction_amount', 'GET', '', callback);
    }

    function commoditySearchInq(param) {
        if(param == 'stockId') {
            stockId = document.getElementById("stockId").value;
        }
        var JSONparam = {
            stockId : stockId
        };
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);
            // 컬럼에 맞게 데이터 추출
            let rowData = {
                pdno: JSONData.output.pdno,
                prdt_type_cd: JSONData.output.prdt_type_cd,
                prdt_name: JSONData.output.prdt_name,
                prdt_eng_name: JSONData.output.prdt_eng_name,
                prdt_risk_grad_cd: JSONData.output.prdt_risk_grad_cd,
                prdt_sale_stat_cd: JSONData.output.prdt_sale_stat_cd,
                prdt_clsf_cd: JSONData.output.prdt_clsf_cd,
                prdt_clsf_name: JSONData.output.prdt_clsf_name,
                wrap_asst_type_cd: JSONData.output.wrap_asst_type_cd,
                ivst_prdt_type_cd: JSONData.output.ivst_prdt_type_cd,
                ivst_prdt_type_cd_name: JSONData.output.ivst_prdt_type_cd_name,
                frst_erlm_dt: JSONData.output.frst_erlm_dt,
                sale_strt_dt: JSONData.output.sale_strt_dt,
                sale_end_dt: JSONData.output.sale_end_dt
            };
            commoditySearch_Table.setData([rowData]);
        };
        RequestUrl('/api/commodity_search', 'POST', JSONparam, callback);
    }

    function investorTrendEstimateInq(param) {
        if(param == 'stockId') {
            stockId = document.getElementById("stockId").value;
        }
        var JSONparam = {
            stockId : stockId
        };
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let resultArray = [];

            for (let i = 0; i < JSONData.output2.length; i++) {
                let rowJSONData = JSONData.output2[i];

                let rowData = {
                    bsop_hour_gb: bsopHourGb(rowJSONData.bsop_hour_gb),
                    frgn_fake_ntby_qty: rowJSONData.frgn_fake_ntby_qty,
                    orgn_fake_ntby_qty: rowJSONData.orgn_fake_ntby_qty,
                    sum_fake_ntby_qty: rowJSONData.sum_fake_ntby_qty,
                };
                resultArray.push(rowData);
            }
            investorTrendEstimate_Table.setData(resultArray);
        };
        RequestUrl('/api/investor_trend_estimate', 'POST', JSONparam, callback);
    }

    function InvestorSearchInq(param) {
        if(param == 'stockId') {
            stockId = document.getElementById("stockId").value;
        }
        var JSONparam = {
            stockId : stockId
        };
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let resultArray = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                let rowData = {
                    stck_bsop_date: formatYmdDate(rowJSONData.stck_bsop_date),
                    stck_clpr: rowJSONData.stck_clpr,
                    prdy_vrss: rowJSONData.prdy_vrss,
                    prdy_vrss_sign: prdyVrssSign(rowJSONData.prdy_vrss_sign),
                    prsn_ntby_qty: rowJSONData.prsn_ntby_qty,
                    frgn_ntby_qty: rowJSONData.frgn_ntby_qty,
                    orgn_ntby_qty: rowJSONData.orgn_ntby_qty,
                    prsn_ntby_tr_pbmn: rowJSONData.prsn_ntby_tr_pbmn,
                    frgn_ntby_tr_pbmn: rowJSONData.frgn_ntby_tr_pbmn,
                    orgn_ntby_tr_pbmn: rowJSONData.orgn_ntby_tr_pbmn
                };
                resultArray.push(rowData);
            }
            investorSearch_Table.setData(resultArray);
        };
        RequestUrl('/api/investor-search', 'POST', JSONparam, callback);
    }

    function programTradeEstimateInq(param) {
        if(param == 'stockId') {
            stockId = document.getElementById("stockId").value;
        }
        var JSONparam = {
            stockId : stockId
        };
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let resultArray = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                let rowData = {
                    bsop_hour: formatHHMMSSTime(rowJSONData.bsop_hour),
                    stck_prpr: rowJSONData.stck_prpr,
                    prdy_vrss: rowJSONData.prdy_vrss,
                    prdy_vrss_sign: prdyVrssSign(rowJSONData.prdy_vrss_sign),
                    prdy_ctrt: rowJSONData.prdy_ctrt,
                    acml_vol: rowJSONData.acml_vol,
                    whol_smtn_ntby_qty: rowJSONData.whol_smtn_ntby_qty,
                    whol_smtn_shnu_vol: rowJSONData.whol_smtn_shnu_vol,
                    whol_smtn_seln_vol: rowJSONData.whol_smtn_seln_vol,
                    whol_ntby_vol_icdc: rowJSONData.whol_ntby_vol_icdc,
                    whol_smtn_ntby_tr_pbmn: rowJSONData.whol_smtn_ntby_tr_pbmn,
                    whol_smtn_shnu_tr_pbmn: rowJSONData.whol_smtn_shnu_tr_pbmn,
                    whol_smtn_seln_tr_pbmn: rowJSONData.whol_smtn_seln_tr_pbmn,
                    //whol_ntby_tr_pbmn_icdc: rowJSONData.whol_ntby_tr_pbmn_icdc
                };
                resultArray.push(rowData);
            }
            programTradeEstimate_Table.setData(resultArray);
        };
        RequestUrl('/api/program_trade_estimate', 'POST', JSONparam, callback);
    }

    function stockChartDayInq() {
        stockId = document.getElementById("stockId").value;
        let JSONparam = "";
        if(stockId != null && stockId != "") {
            JSONparam = {stockId : stockId.trim()};
        }
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let labels = [];
            let stockPrices = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                labels.push(rowJSONData.stck_bsop_date.substring(4, 8));
                stockPrices.push(rowJSONData.stck_clpr);
            }
            labels.reverse();
            stockPrices.reverse();
            let chartData = {
                labels: labels,
                datasets: [{
                    label: '주가',
                    data: stockPrices,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color
                    borderWidth: 1
                }]
            };
            let options = {
                maintainAspectRatio: true,
                responsive: false,
                scales: {
                    y: {beginAtZero: true,}
                }
            };
            if (window.stock_chart && typeof window.stock_chart.destroy === 'function') {
                window.stock_chart.destroy();
            }
            let ctx = document.getElementById('stock_chart').getContext('2d');
            if (ctx !== null) {
                window.stock_chart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: options
                });
            }
        };
        RequestUrl('/api/stock_chart_day', 'POST', JSONparam, callback);
    }

    function stockChartWeekInq() {
        stockId = document.getElementById("stockId").value;
        let JSONparam = "";
        if(stockId != null && stockId != "") {
            JSONparam = {stockId : stockId.trim()};
        }
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let labels = [];
            let stockPrices = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                labels.push(rowJSONData.stck_bsop_date.substring(4, 8));
                stockPrices.push(rowJSONData.stck_clpr);
            }
            labels.reverse();
            stockPrices.reverse();
            let chartData = {
                labels: labels,
                datasets: [{
                    label: '주가',
                    data: stockPrices,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color
                    borderWidth: 1
                }]
            };
            let options = {
                maintainAspectRatio: true,
                responsive: false,
                scales: {
                    y: {beginAtZero: true}
                }
            };
            if (window.stock_chart && typeof window.stock_chart.destroy === 'function') {
                window.stock_chart.destroy();
            }
            let ctx = document.getElementById('stock_chart').getContext('2d');
            if (ctx !== null) {
                window.stock_chart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: options
                });
            }
        };
        RequestUrl('/api/stock_chart_week', 'POST', JSONparam, callback);
    }

    function stockChartMonthInq() {
        stockId = document.getElementById("stockId").value;
        let JSONparam = "";
        if(stockId != null && stockId != "") {
            JSONparam = {stockId : stockId.trim()};
        }
        let callback = (result) => {
            let data = result.response;
            let JSONData = JSON.parse(data);

            let labels = [];
            let stockPrices = [];

            for (let i = 0; i < JSONData.output.length; i++) {
                let rowJSONData = JSONData.output[i];

                labels.push(rowJSONData.stck_bsop_date);
                stockPrices.push(rowJSONData.stck_clpr);
            }
            labels.reverse();
            stockPrices.reverse();
            let chartData = {
                labels: labels,
                datasets: [{
                    label: '주가',
                    data: stockPrices,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color
                    borderWidth: 1
                }]
            };
            let options = {
                maintainAspectRatio: true,
                responsive: false,
                scales: {
                    y: {beginAtZero: true}
                }
            };
            if (window.stock_chart && typeof window.stock_chart.destroy === 'function') {
                window.stock_chart.destroy();
            }
            let ctx = document.getElementById('stock_chart').getContext('2d');
            if (ctx !== null) {
                window.stock_chart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: options
                });
            }
        };
        RequestUrl('/api/stock_chart_month', 'POST', JSONparam, callback);
    }

    $(function () {
        init();
        dometisStockPriceInq();
        transactionAmountInq();
        commoditySearchInq();
        investorTrendEstimateInq();
        programTradeEstimateInq();
        InvestorSearchInq();
        stockChartDayInq();
    });

    function stockSearch() {
        dometisStockPriceInq('stockId');
        commoditySearchInq('stockId');
        investorTrendEstimateInq('stockId');
        InvestorSearchInq('stockId');
        programTradeEstimateInq('stockId');
        stockChartDayInq();
    }
</script>