<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/prefix/head :: headfragment"></head>
<body>
<div th:replace="/prefix/header :: headerfragment"></div>
<div>
  <div th:class="h3">휴장일</div>
  <div id="closedDays_Table"></div>
</div>
<div>
  <div th:class="h3">세계지수</div>
  <div id="worldIndex_Table"></div>
</div>
<div>
  <div th:class="h3">업종별지수</div>
  <div id="themaTotalIndex_Table"></div>
</div>
<div>
  <div th:class="h3">거래대금 상위랭크 30</div>
  <div id="transactionAmount_Table"></div>
</div>
<div th:replace="/prefix/footer :: footerfragment"></div>
</body>
</html>
<script>
  let closedDays_Table;
  let worldIndex_Table;
  let themaTotalIndex_Table;
  let transactionAmount_Table;

  function init() {
    closedDays_Table = new Tabulator("#closedDays_Table", {
      width: "400px",
      height: "300px",
      layout: "fitDataTable",
      columns: [
        {title: "날짜", field: "bass_dt", resizable: true},
        {title: "요일구분", field: "wday_dvsn_cd", resizable: true},
        //{ title: "영업일여부", field: "bzdy_yn", resizable: true },
        //{ title: "거래일여부", field: "tr_day_yn", resizable: true },
        {title: "개장일여부", field: "opnd_yn", resizable: true}
      ],
    });

    worldIndex_Table = new Tabulator("#worldIndex_Table", {
      width: "400px",
      height: "300px",
      layout: "fitDataTable",
      columns: [
        {title: "지수", field: "hts_kor_isnm", resizable: true},
        {title: "현재가", field: "ovrs_nmix_prpr", resizable: true},
        {title: "전일대비", field: "ovrs_nmix_prdy_vrss", resizable: true },
        {title: "전일대비율", field: "prdy_ctrt", resizable: true},
        {title: "추세", field: "prdy_vrss_sign", resizable: true },
        {title: "시가", field: "ovrs_prod_oprc", resizable: true },
        {title: "최고가", field: "ovrs_prod_hgpr", resizable: true },
        {title: "최저가", field: "ovrs_prod_lwpr", resizable: true }
      ],
    });

    themaTotalIndex_Table = new Tabulator("#themaTotalIndex_Table", {
      width: "400px",
      height: "300px",
      layout: "fitDataTable",
      columns: [
        {title: "지수명", field: "hts_kor_isnm", resizable: true},
        {title: "업종 지수 현재가", field: "bstp_nmix_prpr", resizable: true},
        {title: "업종 지수 전일 대비", field: "bstp_nmix_prdy_vrss", resizable: true },
        {title: "업종 지수 전일 대비율", field: "bstp_nmix_prdy_ctrt", resizable: true},
        {title: "추세", field: "prdy_vrss_sign", resizable: true },
        {title: "누적 거래량", field: "acml_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true }
      ],
    });

    transactionAmount_Table = new Tabulator("#transactionAmount_Table", {
      width: "400px",
      height: "300px",
      layout: "fitDataTable",
      resizableColumnFit: true,
      columns: [
        {title: "순위", field: "data_rank", resizable: true},
        {title: "종목명", field: "hts_kor_isnm", resizable: true},
        {title: "현재가", field: "stck_prpr", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
        {title: "전일 대비", field: "prdy_vrss", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
        {title: "전일 대비율", field: "prdy_ctrt", resizable: true},
        {title: "추세", field: "prdy_vrss_sign", resizable: true},
        {title: "거래량", field: "acml_vol", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
        {title: "거래량 증가율", field: "vol_inrt", resizable: true},
        {title: "거래량 회전율", field: "vol_tnrt", resizable: true},
        {title: "거래대금", field: "acml_tr_pbmn", formatter: "money", formatterParams: {thousand: ",", precision: "0"}, resizable: true},
        {title: "거래대금 회전율", field: "tr_pbmn_tnrt", resizable: true}
      ],
    });
  }

  function closedDaysInq() {
    let callback = (result) => {
      let data = result.response;
      let JSONData = JSON.parse(data);

      let resultArray = [];

      for (let i = 0; i < JSONData.output.length; i++) {
        let rowJSONData = JSONData.output[i];
        let rowData = {
          bass_dt: formatYmdDate(rowJSONData.bass_dt),
          wday_dvsn_cd: wdayDvsnCd(rowJSONData.wday_dvsn_cd),
          //bzdy_yn: rowJSONData.bzdy_yn,
          //tr_day_yn: rowJSONData.tr_day_yn,
          opnd_yn: opndYn(rowJSONData.opnd_yn)
        };
        resultArray.push(rowData);
      }
      closedDays_Table.setData(resultArray);
    };
    RequestUrl('/api/closed_days', 'GET', '', callback);
  }

  function worldStockIndex() {
    //API 객체값 담는 배열 선언
    let worldIndex = [];
    // 다우존스, S&P, 항생, 코스피, 다우유틸리지지수 ... 국가지수
    let fidInputIscd = ['.DJI', 'SPX', 'CH#SHA', 'CH#SHB', 'CH#000300', 'CH#000905', 'CH#SZA', 'CH#SZB', 'SHANG', 'HK#HS', 'KOSPI', 'JP#NI225', 'TW#WT', 'GB#FTSE', 'GR#DAX', 'FR#CAC', 'RU#RTS', 'DEN#KFX', 'SW#SM', 'NL#AEX', 'POL#WIG', 'NZ#NZSE', 'PT#PSI', 'GR#ASE', 'IN#BOMBAY', 'MX#IPC', 'VEB', 'ID#JK', 'MERV', 'MY#KLSE', 'PH#MANILA'];
    let callback = (result) => {
      let data = result.response;
      let JSONData = JSON.parse(data);
      let rowData = {
        hts_kor_isnm: JSONData.output1.hts_kor_isnm,
        ovrs_nmix_prpr: JSONData.output1.ovrs_nmix_prpr,
        ovrs_nmix_prdy_vrss: JSONData.output1.ovrs_nmix_prdy_vrss,
        prdy_ctrt: JSONData.output1.prdy_ctrt,
        prdy_vrss_sign: prdyVrssSign(JSONData.output1.prdy_vrss_sign),
        ovrs_prod_oprc: JSONData.output1.ovrs_prod_oprc,
        ovrs_prod_hgpr: JSONData.output1.ovrs_prod_hgpr,
        ovrs_prod_lwpr: JSONData.output1.ovrs_prod_lwpr,
      };
      worldIndex.push(rowData);
      worldIndex_Table.setData(worldIndex);
    };
    for(let i = 0; i < fidInputIscd.length; i ++) {
      let JSONparam = {fidInputIscd : fidInputIscd[i]}
      RequestUrl('/api/worldStockIndex', 'POST', JSONparam, callback);
    }
  }

  function themaTotalIndex(param) {
    let themaIndexId;
    let themaIndexYmd;
    if(param != null && param !="") {
      themaIndexId = document.getElementById("themaIndexId").value;
      themaIndexYmd = document.getElementById("themaIndexYmd").value;
    }
    let JSONparam = {
      fidInputIscd : themaIndexId,
      fidPeriodDivCode : themaIndexYmd
    };
    // 업종코드
    let fidInputIscd = ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008',  '0009', '0010',
      '0011', '0012', '0013', '0014', '0015', '0016', '0017', '0018', '0019', '0020', '0021', '0022',
      '0023', '0024', '0025', '0026', '0027'];

    let resultArray = [];
    let callback = (result) => {
      let data = result.response;
      let JSONData = JSON.parse(data);
      let rowData = {
        hts_kor_isnm: JSONData.output1.hts_kor_isnm,
        bstp_nmix_prpr: JSONData.output1.bstp_nmix_prpr,
        bstp_nmix_prdy_vrss: JSONData.output1.bstp_nmix_prdy_vrss,
        bstp_nmix_prdy_ctrt: JSONData.output1.bstp_nmix_prdy_ctrt,
        prdy_vrss_sign: prdyVrssSign(JSONData.output1.prdy_vrss_sign),
        acml_vol: JSONData.output1.acml_vol
      };
      resultArray.push(rowData);
      themaTotalIndex_Table.setData(resultArray);
    };
    if(param != null && param != "") {
      RequestUrl('/api/themaTotalIndex', 'POST', JSONparam, callback);
    } else {
      for (let i = 0; i < fidInputIscd.length; i++) {
        JSONparam = {
          fidInputIscd: fidInputIscd[i]
        };
        RequestUrl('/api/themaTotalIndex', 'POST', JSONparam, callback);
      }
    }
  }

  function transactionAmountInq() {
    let callback = (result) => {
      let data = result.response;
      let JSONData = JSON.parse(data);

      let resultArray = [];

      for (let i = 0; i < JSONData.output.length; i++) {
        let rowJSONData = JSONData.output[i];

        let rowData = {
          data_rank: rowJSONData.data_rank,
          hts_kor_isnm: rowJSONData.hts_kor_isnm,
          stck_prpr: rowJSONData.stck_prpr,
          prdy_vrss: rowJSONData.prdy_vrss,
          prdy_ctrt: rowJSONData.prdy_ctrt,
          prdy_vrss_sign: prdyVrssSign(rowJSONData.prdy_vrss_sign),
          acml_vol: rowJSONData.acml_vol,
          vol_inrt: rowJSONData.vol_inrt,
          vol_tnrt: rowJSONData.vol_tnrt,
          acml_tr_pbmn: rowJSONData.acml_tr_pbmn,
          tr_pbmn_tnrt: rowJSONData.tr_pbmn_tnrt
        };
        resultArray.push(rowData);
      }
      transactionAmount_Table.setData(resultArray);
    };
    RequestUrl('/api/transaction_amount', 'GET', '', callback);
  }



  $(function() {
    init();
    closedDaysInq();
    worldStockIndex();
    themaTotalIndex();
    transactionAmountInq();
  });
</script>